spring:
  config:
    activate:
      on-profile: dev

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        use_sql_comments: true
        highlight_sql: true
        show_sql: true

logging:
  level:
    root: WARN
    org:
      SQL: DEBUG
      hibernate:
        orm.jdbc.bind: TRACE
        type.descriptor.sql.BasicBinder: TRACE
      springframework:
        web: DEBUG
        transaction: DEBUG
        security: DEBUG
        jdbc.core.JdbcTemplate: DEBUG