# Logging 설정
logging.level.root=INFO
logging.file.name=logs/ai-news.log
logging.file.path=logs
logging.pattern.console=%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n
logging.pattern.file=%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n
logging.level.org.springframework=INFO
logging.level.taeniverse.ai_news=DEBUG

# Swagger
springdoc.swagger-ui.path=/

# Database
spring.datasource.url=jdbc:mysql://localhost:13307/ai-news
spring.datasource.username=
spring.datasource.password=
spring.jpa.show-sql=true
spring.jpa.hibernate.ddl-auto=update

# Redis
spring.data.redis.host=localhost
spring.data.redis.port=16379
custom.redis.ttl=3600

ai-news.jwt.secret=
ai-news.jwt.cookie.name=Authorization
ai-news.jwt.cookie.domain=ai-news.com
ai-news.jwt.cookie.path=/
ai-news.jwt.cookie.secure=false
ai-news.jwt.cookie.httpOnly=true
ai-news.jwt.cookie.sameSite=Lax
# 아래의 두 값은 세던드와 밀리세컨드 순이며, 반드시 같은 값을 가져야 한다. 그래야 쿠키의 소멸주기와 토큰의 만료 시간이 일치한다.
ai-news.jwt.cookie.maxAge=604800
ai-news.jwt.expiration=604800000

ai-news.backend.protocol=http://
ai-news.backend.domain=back.ai-news.com
ai-news.backend.port=8080

ai-news.frontend.protocol=http://
ai-news.frontend.domain=ai-news.com
ai-news.frontend.port=5173

ai-news.ai.protocol=http://
ai-news.ai.domain=ai.ai-news.com
ai-news.ai.port=8000
ai-news.ai.path.llm=ai-news