<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>결제하기</title>
	<meta charset="utf-8" />
	<!-- 토스페이먼츠 결제창 SDK 추가 -->
	<script src="https://js.tosspayments.com/v1/payment"></script>
</head>
<body>
<script th:inline="javascript">
	/* <![CDATA[ */
	// 클라이언트 키와 고객 키를 서버에서 전달받은 값으로 설정
	var clientKey = /*[[${clientKey}]]*/ null;
	var customerKey = /*[[${customerKey}]]*/ null;

	// ------ 클라이언트 키로 객체 초기화 ------
	var tossPayments = TossPayments(clientKey);
	tossPayments
			.requestBillingAuth("카드", {
				// 결제 정보 파라미터
				customerKey: customerKey, // 서버에서 받은 값 사용
				successUrl: window.location.origin + "/issue",
				failUrl:window.location.origin + "/fail",
			})
			.catch(function (error) {
				if (error.code === "USER_CANCEL") {
					// 구매자가 결제창을 닫았을 때 처리
					alert("결제가 취소되었습니다.");
				}
			});
	/* ]]> */
</script>
</body>
</html>
