<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <script src="https://js.tosspayments.com/v2/standard"></script>
</head>
<body>
<button class="button" style="margin-top: 30px" onclick="requestBillingAuth()">카드 등록하기</button>

<script th:inline="javascript">
  const clientKey = /*[[${clientKey}]]*/ null;
  const customerKey = /*[[${customerKey}]]*/ null;
  const customerName = /*[[${customerName}]]*/ null;
  const customerEmail = /*[[${customerEmail}]]*/ null;

  debugger;

  const tossPayments = TossPayments(clientKey);
  const payment = tossPayments.payment({ customerKey });

  async function requestBillingAuth() {
    await payment.requestBillingAuth({
      method: "CARD",
      successUrl: window.location.origin + "/toss/approve",
      failUrl: window.location.origin + "/fail",
      customerEmail: customerEmail,
      customerName: customerName,
    });
  }
</script>
</body>
</html>